@import "../../palette.scss";

.gallery {
  padding: $space-7;
  display: flex;
  justify-content: center;

  .card-grid {
    width: 100%;
    max-width: $gallery-max-width;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: $space-7;
  }
}
